:root {
  --color-dark: #1a1f16;
  --color-lite-dark: rgb(26, 31, 22, 0.8);
  --color-blue: #29339b;
  --color-gray: #808d8e;
  --color-light: #eff7cf;
}

/* Custom font */
p {
  font-family: "Inclusive Sans", sans-serif;
}

.navbar-title {
  font-family: "Bad Script", cursive;
  font-size: 2em;
}

.welcome-font {
  font-family: "Bad Script", cursive;
  font-size: 2.5em;
  padding: 15px;
}

.title-font {
  font-family: "Bad Script", cursive;
  font-size: 4em;
}

.subtitle-font {
  font-family: "Bad Script", cursive;
  font-size: 3em;
}

/* Clases custom bg */
.bg-custom-dark {
  background-color: var(--color-dark);
}

.bg-custom-blue {
  background-color: var(--color-blue);
}

.bg-custom-gray {
  background-color: var(--color-gray);
}

.bg-custom-light {
  background-color: var(--color-light);
}

/* Custom text  */
.text-custom-dark {
  color: var(--color-dark);
}

.text-custom-blue {
  color: var(--color-blue);
}

.text-custom-gray {
  color: var(--color-gray);
}

.text-custom-light {
  color: var(--color-light);
}

/* Navbar */

.navbar {
  background-color: var(--color-dark);
}

.navbar-toggler,
.navbar-toggler:active {
  border: none;
  outline: none;
}

.nav-item {
  font-size: 1em;
  font-family: "Inclusive Sans", sans-serif;
}

.parallax-img {
  background-image: url("../imgs/parallax-img.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: auto;
}

.bg-lite-dark {
  background-color: var(--color-lite-dark);
}

/* Card custom */
.card-custom:hover {
  animation: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@media screen and (width > 500px) {
  .welcome-font {
    font-size: 4em;
    padding: 30px;
  }
  .nav-item {
    font-size: 1.3em;
  }
}

@media screen and (width > 1200px) {
  .parallax-img {
    min-height: 600px;
  }

  .welcome-font {
    font-size: 5em;
    padding: 50px;
  }

  .nav-item {
    font-size: 1.5em;
  }
}
